@import 'shepherd.js/dist/css/shepherd.css';
@import './modules/onboarding/styles/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* Off-white */
    --foreground: 20 14.3% 4.1%; /* Dark Gray */

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 346.8 77.2% 49.8%; /* Soft Pink/Coral */
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 142.1 76.2% 36.3%; /* Gentle Green */
    --secondary-foreground: 355.7 100% 97.3%;

    --muted: 60 9.1% 97.8%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 9.1% 97.8%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 24 9.8% 10%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 142.1 76.2% 36.3%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 24 9.8% 10%;
    --muted-foreground: 240 3.7% 65.9%;

    --accent: 24 9.8% 10%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 24 9.8% 10%;
    --input: 24 9.8% 10%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Poppins', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
}
